<!DOCTYPE html>

<html lang="eng">
    <head>
        <title>Shark Casino</title>
        <link rel="stylesheet" href="public/css/styles.css">
    </head>

    <body>
        <div class="container">
            <div class="logo-login">
                <a href="index.html"><img src="public/img/logoo.png"></a>
                <p class="quote">Play to win!</p>
            </div>
           
            <div class="login-container">
                <form class="login">
                    <input name="username" type="text" placeholder="username">
                    <input name="password" type="password" placeholder="password">
                    <button>Login</button>
                </form>
            </div>
        
            
        </div>
        <footer>
            Copyright 2020 | Created by Kamil Flis
        </footer>
    </body>


</html>