.info-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.side-menu {
    background: #202020;
    position: fixed;
    height: 100vh;
    width: 10%;
}

.side-menu-placeholder {
    width: 10%;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 90%;
    color: white;
    margin-right: 5%;
}

.label {
    color: grey;
    opacity: 0.7;
    margin-bottom: 0;
}

.change-password {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: end;
}

.change-password>button {
    margin-right: 12%;
    height: 20%;
}

.top-up {
    width: 10%;
}

@media only screen and (max-device-width: 420px) {

    .side-menu .menu-buttons {
        display: block;
    }

    .side-menu {
        width: 20%;
    }

    .side-menu-placeholder {
        width: 20%;
    }

    .change-password {
        margin: 0;
        width: 80%;
    }

    .change-password>button {
        margin-right: 10vw;
    }

    .top-up {
        width: 20%;
    }
}