body {
    background: url("../img/slotsCleopatra/cleopatra_bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slots {
    display: flex;
    justify-content: center;
    width: 45vw;
    max-height: calc(3/5 * 42vw);
}

.reel {
    overflow: hidden;
    width: 40vw;
}

.reel > .icons > img {
    width: calc(100% + 6px);
    margin: -3px 0 0 -3px;
    height: auto;
}

.messages {
    font-size: 12px;
    color: white;
}

@media only screen and (max-device-width: 420px) {

    * {
        font-size: 36px;
    }

    .slots {
        width: 85vw;
        max-height: calc(3/5 * 80vw);
    }
}