body {
    background: transparent linear-gradient(0deg, #21212A, #323234 100%);
    margin: 0;
}

li {
    display: inline;
}

.base-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

nav {
    width: 100%;
    height: 10vh;
    background: #202020;
    display: grid;
    position: fixed;
    grid-template-columns: 35% 45% 20%;
    align-items: center;
}

.logo {
    margin: 0.5em;
    margin-left: 3em;
    height: 90%;
}

.banner {
    width: 100%;
}

.button {
    margin: 0.2em;
    text-align: center;
    letter-spacing: 0.72px;
    color: #FFFFFF;
    padding: 0.2rem;
}

ul.menu-buttons {
    justify-self: right;
    list-style-type: none;
    font: normal normal normal 1.35rem Arial;
    letter-spacing: 0.72px;
}

ul.login-buttons {
    border-radius: 25px;
    margin-left: 10%;
    margin-right: 10%;
    background: transparent linear-gradient(90deg, #223CE3, #A91313 60%) ;
    padding: 0;
    list-style-type: none;
    font: normal normal normal 1.35rem Arial;
    text-align: center;
    letter-spacing: 0.72px;
}

.login-button {
    color: #FFFFFF;
    margin: 0.2em;
    text-align: center;
    margin-right: 6px;
    letter-spacing: 0.72px;
    padding: 0.2rem;
}

.register-button {
    margin: 0.2em;
    text-align: center;
    letter-spacing: 0.72px;
    color: #FFFFFF;
    padding: 0.2rem;
}

main {
    display: flex;
    flex-direction: column; 
}

.qa {
    background: transparent linear-gradient(0deg, #21212A, #323234 100%);
    font-size: 1.5rem;
    color: #FFFFFF;
}

.question-block {
    display: inline-flex;
    background: #323234;
    border: 1px solid;
    margin: 1%;
    padding: 0.2rem;
    letter-spacing: 0.72px;
    
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    background: #202020;
    text-align: center;
    padding: 3px;
    color: white;
}

.login-container {
    width: 40%;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form.login {
    background: #202020;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70vh;
    border: 1px solid black;
    border-radius: 33px;
}

input {
    background-color: white;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 1em;
    margin: 1em;
    width: 50%;
    height: 5%;
    text-align: center;
}

button {
    background: white;
    margin-top: 1em;
    border-radius: 20px;
    width: 30%;
    height: 10%;
}

.logo-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.quote {
    color: #D3D3D3;
    font-size: 55px;
}