body {
    background: transparent linear-gradient(0deg, #21212A, #323234 100%);
    margin: 0 auto;
}

li {
    display: inline;
}

.base-container {
    display: flex;
    flex-direction: column;
}

.topnav {
    width: 100%;
    height: 10%;
    background: #202020;
    overflow: hidden;
    display: grid;
    position: fixed;
    grid-template-columns: 35% 60% 5%;
    align-items: center;
}

.icon {
    display: none;
}

.logo {
    margin: 0.5em 0.5em 0.5em 3em;
    height: 90%;
}

.button {
    margin: 0.2em;
    text-align: center;
    letter-spacing: 0.72px;
    color: #FFFFFF;
    padding: 0.2rem;
}

.menu-buttons {
    justify-self: right;
    list-style-type: none;
    font: normal normal normal 1.35rem Arial;
    letter-spacing: 1px;
}

.menu-buttons>li>a {
    float: left;
    text-decoration: none;
    font-size: 26px;
}

.login-button, .register-button {
    color: #FFFFFF;
    text-align: center;
    margin: 0.2em 6px 0.2em 0.2em;
    letter-spacing: 1px;
    padding: 0.2rem;
}

.banner {
    margin-top: 0;
}

.banner>img {
    width: 100vw;
}

.qa {
    display: flex;
    flex-direction: column;
    background: transparent linear-gradient(0deg, #21212A, #323234 100%);
    width: 100vw;
    font-size: 1.5rem;
    color: #FFFFFF;
}

.question-block {
    background: #323234;
    border: 1px solid;
    margin: 1%;
    padding: 0.2rem;
    letter-spacing: 1px;
}

.answer-block-expand {
    display: block;
    margin-left: 2%;
}

.answer-block {
    display: none;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100vw;
    background: #202020;
    text-align: center;
    padding: 3px;
    color: white;
}

.login-container {
    width: 40%;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form.login {
    background: #202020;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70vh;
    border: 1px solid black;
    border-radius: 33px;
}

input {
    background-color: white;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 1em;
    margin: 1em;
    width: 50%;
    height: 5%;
    text-align: center;
}

button {
    background: white;
    margin-top: 1em;
    border-radius: 20px;
    width: 30%;
    height: 10%;
}

.logo-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    color: #D3D3D3;
    font-size: 55px;
}

.catchphrase {
    background: #4242496c;
    border-radius: 2em;
    display: flex;
    margin-top: 7%;
    margin-bottom: 2%;
    width: 70%;
    align-self: center;
    justify-content: center;
    align-items: center;
    color: white;
}

.games {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2vw;
}

.games img {
    margin: 2vw;
    width: 90%;
}

.title {
    color: white;
    align-self: center;
    font-size: 36px;
}

@media only screen and (max-device-width: 420px) {
    * {
        font-size: 36px;
    }

    .menu-buttons {
        display: none
    }

    .icon {
        color: white;
        float: right;
        display: block;
    }

    .banner {
        margin-top: 10vh;
    }

    .topnav.responsive {
        display: grid;
        grid-template-columns: 35% 60% 5%;
        grid-template-rows: 1fr 2fr;
        align-items: center;
        position: fixed;
        height: auto;
    }

    .topnav.responsive a.icon {
        position: relative;
        right: 0;
        top: 0;
    }

    .topnav.responsive>ul.menu-buttons {
        float: none;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
    }

    .topnav.responsive>ul.menu-buttons>li>a {
        text-decoration: none;
        font-size: 36px;
    }

    .logo {
        height: 60%;
        margin: 0 0 0 -3px;
        transform: translate3d(0, 0, 0);
    }

    form {
        margin: auto;
    }

    .catchphrase {
        margin-top: 25%;
    }

    form.login {
        background: #202020;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 50vh;
        border: 1px solid black;
        border-radius: 33px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100vh;
    }

    .logo-login {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5em;
        transform: translate3d(0, 0, 0);
    }

    .login-container {
        width: 90vw;
    }
}